.heading{
    font-size: 24px;
    font-weight: 600;
}



.navbar-nav li a{
    font-size: 20px;
    margin-left: 20px;
}
/* 
.navbar-nav{
    margin-left: 300px;
} */

.contact_heading{
    text-align: center;
    margin-top: 100px;
    font-weight: 600;
    text-decoration: underline;
}

form{
    /* border: 1px solid black; */
    margin-top: 100px;
    width: 30%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}